MONGO_URI=mongodb+srv://aok:27043@cluster0.xxxxx.mongodb.net/tochka-sborki
CLIENT_URL=http://localhost:5173

EMAIL_HOST=smtp.yandex.ru
EMAIL_PORT=587
EMAIL_USER=tochka.sborki21@vk.com
EMAIL_PASS=ТВОЙ_ПАРОЛЬ_ПРИЛОЖЕНИЯ_ЯНДЕКС
EMAIL_FROM="Точка Сборки <tochka.sborki21@vk.com>"
EMAIL_TO=tochka.sborki21@vk.com

ADMIN_PASSWORD=admin123
